<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        <!-- Axentix CSS minified version -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@1.1.0/dist/css/axentix.min.css">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}
        <!-- Axentix JS minified version -->
        <script src="https://cdn.jsdelivr.net/npm/axentix@1.1.0/dist/js/axentix.min.js"></script>
    </head>
    <body>

    <header>

        <nav class="navbar shadow-1 primary">
            <a href="{{ path('app_home') }}" class="navbar-brand">MonEssai</a>
            <div class="navbar-menu ml-auto">
                {% if(app.user is null) %}<a class="navbar-link" href="{{ path('app_login') }}">Connexion</a>
                    <a class="navbar-link" href="{{ path("app_register") }}">S'inscrire</a>
                {% else %}<a class="navbar-link" href="{{ path('app_logout') }}">Déconnexion</a>
                    <a class="navbar-link" href="{{ path('users_home') }}">Profil</a>
                {% endif %}
                <a class="navbar-link" href="#">Annonces</a>

            </div>
        </nav>
    </header>

    <main>
        <!-- Code here the main content -->
    </main>
    {% block body %}{% endblock %}

    <footer class="footer primary">
        Copyright © 2020 - Example
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/axentix@1.1.0/dist/js/axentix.min.js">
    </script>

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    <script src="{{ asset('js/script.js') }}"></script>
    </body>
</html>
