{% extends 'users.html.twig' %}

{% block title %}Modification du mdp de {{ app.user.firstname }} {{ app.user.name }}{% endblock %}

{% block body %}
    <div class="grix xs4 container">
        {% for message in app.flashes('error') %}
            <div class="col-xs4">
                <div class="p-3 my-2 rounded-2 error">{{message}}</div>
            </div>
        {% endfor %}
        <div class="col-xs4">
            <h3>Modification du mot de passe de <b style="color: red">{{ app.user.firstname }} {{ app.user.name }}</b></h3>
            <form method="post">
                <div class="form-field">
                    <label for="pass">Mot de passe</label>
                    <input type="password" id="pass" name="pass" class="form-control">
                </div>
                <div class="form-field">
                    <label for="pass2">Confirmer le mot de passe</label>
                    <input type="password" id="pass2" name="pass2" class="form-control">
                </div>
                <button class="btn blue">Valider</button>

            </form>
        </div>

    </div>
{% endblock %}
