{% extends 'users.html.twig' %}

{% dump(app.user) %}


{% block title %}Profil de {{ app.user.firstname }} {{ app.user.name }}{% endblock %}

{% block body %}

{% if app.user.isVerified == false %}
<marquee style="color:red">veuillez vérifier le mail d'inscription!</marquee>
{% endif %}

    <div class="grix xs4 container">
        {% for message in app.flashes('message') %}
            <div class="col-xs4">
                <div class="p-3 my-2 rounded-2 success">{{message}}</div>
            </div>
        {% endfor %}
        <div class="col-xs4">
            <h1>Profil de {{ app.user.firstname }} <span style="text-transform: uppercase">{{ app.user.name }}</span></h1>
        </div>
        <div class="col-xs1">Nom :</div>
        <div class="col-xs3">{{ app.user.name }}</div>
        <div class="col-xs1">Prénom :</div>
        <div class="col-xs3">{{ app.user.firstname }}</div>
        <div class="col-xs1">Email :</div>
        <div class="col-xs3">{{ app.user.email }}</div>
        <div class="col-xs4">
            <a href="{{ path('users_profil_modifier') }}" class="btn blue">Modifier le profil</a>
            <a href="{{ path('users_pass_modifier') }}" class="btn blue">Modifier le mot de passe</a>
            <!--a href="#" class="btn grey">Voir mes données personnelles (RGPD)</a-->
        </div>
        <div class="col-xs4">
            <h3>Annonces de <span style="text-transform: uppercase">{{ app.user.name }}</span> ({{ app.user.ads|length }})</h3>
        </div>
        {% for ad in app.user.ads %}
            <div class="col-xs1">Titre :</div>
            <div class="col-xs3">{{ ad.title }}</div>
        {% endfor %}

    </div>
{% endblock %}
